 <!--Search-box-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <input class="search-box" type="search" placeholder="Sök..." aria-label="Search"
                       ng-click="showAdvanBtn($event)">
            </form>
        </div>
        <div class="col-md-12">
            <button id="advance-search-btn" ng-click="openAdvanceSearchSettings()">Avancerad sökning</button>
        </div>
    </div>
</div>


<!--Advance search settings-->
<div class="container" id="advanceSearch-content">
    <p id="carPicker-title">Fordonstyp</p>
    <div class="row">
        <div class="col-md-12 text-center">
            <div id="carType-pickerHolder">
                <div class="pl-2 pr-2">
                    <img src="/media/cartypes-icons/cabrio-car.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                </div>
                <div class="pl-2 pr-2">
                    <img src="/media/cartypes-icons/car-black-side-view-pointing-left.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                </div>
                <div class="pl-2 pr-2">
                    <img src="/media/cartypes-icons/car-city-model.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                </div>
                <div class="pl-2 pr-2">
                    <img src="/media/cartypes-icons/car-suv.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                </div>
                <div class="pl-2 pr-2">
                    <img src="/media/cartypes-icons/coupe-car.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                </div>
                <div class="pl-2 pr-2">
                    <img src="/media/cartypes-icons/mini-van.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                </div>
                <div class="pl-2 pr-2">
                    <img src="/media/cartypes-icons/minivan-car.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                </div>
                <div class="pl-2 pr-2">
                    <img src="/media/cartypes-icons/old-pickup.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                </div>
                <div class="pl-2 pr-2">
                    <img src="/media/cartypes-icons/sedan-car-model.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                </div>
                <div class="pl-2 pr-2">
                    <img src="/media/cartypes-icons/supercar.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="sliderPicker-holder">
        <div class="col-xl-3 col-md-12 text-center">
            <div class="row">
                <div class="col-md-12">
                    <p class="sliderValue" id="year-max">2019</p>
                    <b class="sliderValue" style="position:absolute;z-index:999;top:4em;left:0;right:0;">-</b>
                    <p class="sliderValue" id="year-min">1800</p>
                    <div class="types">
                        <div class="shape" id="filter-year-shape"></div>
                        <h4 class="mt-3" id="yearShape-title">Årsmodell</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-12 shape-2 text-center shape-holder">
            <div class="row">
                <div class="col-md-12">
                    <p class="sliderValue" id="mileage-max">10 000 MIL</p>
                    <b class="sliderValue" style="position:absolute;z-index:999;top:4em;">-</b>
                    <p class="sliderValue" id="mileage-min">0 MIL</p>
                    <div class="types">
                        <div class="shape" id="filter-milage-shape"></div>
                        <h4 class="mt-3" id="mileageShape-title">Miltal</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-12 text-center">
            <div class="row">
                <div class="col-md-12">
                    <p class="sliderValue" id="price-max">999 TKR</p>
                    <b class="sliderValue" style="position:absolute;z-index:999;top:4em;">-</b>
                    <p class="sliderValue" id="price-min">0 TKR</p>
                    <div class="types">
                        <div class="shape" id="filter-price-shape"></div>
                        <h4 class="mt-3" id="priceShape-title">Pris</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-12 text-center">
            <div class="row">
                <div class="col-md-12">
                    <p class="sliderValue" id="color-value">Röd</p>
                    <div class="types">
                        <span class="position-absolute">{{article.color}}</span>
                        <div class="shape" id="filter-color-shape"></div>
                        <h4 class="mt-3 " id="colorShape-title">Färg</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center" id="advance-search-btns-holder">
        <div class="col-md-12">
            <button class="form-sumbit-btn">SÖK</button>
        </div>
        <div class="col-md-12 mt-3">
            <button class="form-sumbit-btn-black">SÖK EFTER ALLA BILAR</button>
        </div>
    </div>
</div>



<div class="container" id="list-of-cars" ng-controller="articleCtrl">
    <div class="row" id="hexagon-grid-holder">
        <div class="col-md-12">
            <!--<div id="noItemFound-holder" ng-if="noItemFound">
                <h1 class="text-center">
                    Inga bilar hittades med din valda filtreringen
                </h1>
            </div>-->
            <ul id="hexGrid" ng-mouseleave="unfocusHexaong()">
                <li class="hex car-title" ng-repeat="article in articles" ng-mousemove="focusHexagon($event)">
                    <div class="hexIn">
                        <img src="/media/test-bilder/blue_car.jpg" class="img-hex" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>