
<div ng-controller="articleCtrl">

    <!--Article detail view-->
    <div class="container-fluid" id="articleDetails-container">
        <div class="container pb-5" style="padding-top:80px;">
            <div class="row">
                <div class="col-md-12 text-center articleDetail">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="borderUnderLine">
                                <h1>{{articleObj.title}}</h1>
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <div class="borderUnderLine">
                                <h2>{{articleObj.price}} SEK</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="hexa hexa-img-holder">
                        <div class="hex1">
                            <div class="hex2">
                                <img src="/media/test-bilder/blue_car.jpg" class="hexagonImg mainImgDetails" style="min-width:50em;" />
                            </div>
                        </div>
                    </div   >
                    <div class="triangles-wrapper">
                        <div class="triangle-img" style="background-image:url(/media/test-bilder/blue_car.jpg);"></div>
                        <div class="triangle-img tr-2" style="background-image:url(/media/test-bilder/blue_car.jpg);"></div>
                        <div class="triangle-img" style="background-image:url(/media/test-bilder/blue_car.jpg);"></div>
                        <div class="triangle-img tr-2 tri-4" style="background-image:url(/media/test-bilder/blue_car.jpg);"></div>
                        <div class="triangle-img tri-5" style="background-image:url(/media/test-bilder/blue_car.jpg);"></div>
                    </div>
                </div>
                <div class="col-md-12" id="close-view-wrapper">
                    <img src="/media/close.png" alt="Close view img-icon" class="img-fluid" ng-click="closeDetailView()" />
                </div>
            </div>
        </div>
    </div>
    <!--End of article detail view-->





    <div class="container-fluid p-0 m-0" id="list-content-holder">

        <!--Search-box-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-inline">
                        <input class="search-box" type="search" placeholder="Sök..." aria-label="Search"
                               ng-click="showAdvanBtn($event)"
                               ng-model="searchStr">
                    </form>
                </div>
                <div class="col-md-12">
                    <button id="advance-search-btn" ng-click="openAdvanceSearchSettings()">Avancerad sökning</button>
                </div>
            </div>
        </div>
        <!--End of search-box-->


        <!--Advance search settings-->
        <div class="container" id="advanceSearch-content">
            <p id="carPicker-title">Fordonstyp</p>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div id="carType-pickerHolder">
                        <div class="pl-2 pr-2">
                            <img src="/media/cartypes-icons/cabrio-car.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                        </div>
                        <div class="pl-2 pr-2">
                            <img src="/media/cartypes-icons/car-black-side-view-pointing-left.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                        </div>
                        <div class="pl-2 pr-2">
                            <img src="/media/cartypes-icons/car-city-model.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                        </div>
                        <div class="pl-2 pr-2">
                            <img src="/media/cartypes-icons/car-suv.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                        </div>
                        <div class="pl-2 pr-2">
                            <img src="/media/cartypes-icons/coupe-car.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                        </div>
                        <div class="pl-2 pr-2">
                            <img src="/media/cartypes-icons/mini-van.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                        </div>
                        <div class="pl-2 pr-2">
                            <img src="/media/cartypes-icons/minivan-car.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                        </div>
                        <div class="pl-2 pr-2">
                            <img src="/media/cartypes-icons/old-pickup.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                        </div>
                        <div class="pl-2 pr-2">
                            <img src="/media/cartypes-icons/sedan-car-model.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                        </div>
                        <div class="pl-2 pr-2">
                            <img src="/media/cartypes-icons/supercar.png" class="img-fluid" ng-click="setActiveCarType($event)" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="sliderPicker-holder">
                <div class="col-xl-3 col-md-12 text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="sliderValue" id="year-max">2019</p>
                            <b class="sliderValue" style="position:absolute;z-index:999;top:4em;left:0;right:0;">-</b>
                            <p class="sliderValue" id="year-min">1800</p>
                            <div class="types">
                                <div class="shape" id="filter-year-shape"></div>
                                <h4 class="mt-3" id="yearShape-title">Årsmodell</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-12 shape-2 text-center shape-holder">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="sliderValue" id="mileage-max">10 000 MIL</p>
                            <b class="sliderValue" style="position:absolute;z-index:999;top:4em;">-</b>
                            <p class="sliderValue" id="mileage-min">0 MIL</p>
                            <div class="types">
                                <div class="shape" id="filter-milage-shape"></div>
                                <h4 class="mt-3" id="mileageShape-title">Miltal</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-12 text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="sliderValue" id="price-max">999 TKR</p>
                            <b class="sliderValue" style="position:absolute;z-index:999;top:4em;">-</b>
                            <p class="sliderValue" id="price-min">0 TKR</p>
                            <div class="types">
                                <div class="shape" id="filter-price-shape"></div>
                                <h4 class="mt-3" id="priceShape-title">Pris</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-12 text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="sliderValue" id="color-value">Röd</p>
                            <div class="types">
                                <span class="position-absolute">{{article.color}}</span>
                                <div class="shape" id="filter-color-shape"></div>
                                <h4 class="mt-3 " id="colorShape-title">Färg</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center" id="advance-search-btns-holder">
                <div class="col-md-12">
                    <button class="form-sumbit-btn">SÖK</button>
                </div>
                <div class="col-md-12 mt-3">
                    <button class="form-sumbit-btn-black" ng-click="getAllArticles()">SÖK EFTER ALLA BILAR</button>
                </div>
            </div>
        </div>


        <!--List of vehicles-->
        <div class="container mt-5" id="list-of-cars">
            <div class="row">
                <div class="col-md-12" id="grid-list-holder" ng-repeat="article in articles | filter:searchStr" ng-click="displayArticleDetail(article.id)">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="hexa">
                                <div class="hex1">
                                    <div class="hex2">
                                        <img src="/media/test-bilder/blue_car.jpg" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 article-descriptions">
                            <label>{{article.title}}</label>
                            <p>Modellår: {{article.yearModel}}</p>
                            <p>Miltal: {{article.mileage}} mil</p>
                            <p>CO2-Utsläpp: 184 g/km</p>
                            <p>{{article.price}} SEK</p>
                        </div>
                    </div>
                    <div class="col-md-12 borderLine"></div>
                </div>
                <div class="col-md-12" id="hexagon-grid-holder">
                    <ul id="hexGrid" ng-mouseleave="unfocusHexagon()">
                        <li class="hex car-title" ng-repeat="article in articles | filter:searchStr" ng-mousemove="focusHexagon($event)">
                            <div class="hexIn">
                                <img src="/media/test-bilder/blue_car.jpg" class="img-hex" ng-click="displayArticleDetail(article.id)" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End of list -->
        <!--Toggle-->
        <div class="float-right">
            <div class="toggle-holder pr-5">
                <div>
                    <img src="/media/ListToggle-icons/toggle-hexagonList.png" alt="Toggle-hexagonList" width="50" class="img-fluid" ng-click="toggleLists('hexaList')" />
                </div>
                <div>
                    <img src="/media/ListToggle-icons/line.png" alt="Line" width="50" class="img-fluid" />
                </div>
                <div>
                    <img src="/media/ListToggle-icons/toggle-list.png" alt="Toggle-gridList" width="50" class="img-fluid" ng-click="toggleLists('gridList')" />
                </div>
            </div>
        </div>
        <!--End of toggle-->

    </div>
</div>